

/*LANDING PAGE */

.main-pg {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
  padding: 0;
  width: 100%;
  min-height: calc(100% - 70px); /*offset for header*/
}

.inpainting-input {
  display: flex;
  flex-direction: column;
}

.image-input-container {
  min-width: 40vw;
  height: 30vh;
  border: 3px dotted rgb(90, 90, 90);
  background: rgb(248, 247, 247);
  border-radius: 10px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-input-container:hover {
  background: rgb(235, 235, 245);
  transition: all 0.2s ease-in-out;
}

.image-input-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.image-input-label h1 {
  margin: 0;
  font-family: "Abrade";
  color: rgb(180, 180, 180);
  font-size: calc(15px + 0.5vw);
}

#image-input {
  display: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 10;
}



.results-display {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.originals-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 40vw;
}

.originals-display-more {
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid gray;
}

.originals-display-current {
  margin-bottom: 20px;
}




.settings-container {
  width: 35vw;
  border: 1px solid rgb(220, 220, 220);
  padding: 15px;
}

.settings-container h2 {
  margin: 0 0 10px 0;
  font-family: 'Univers';
  color: #CC0000
}

.setting-header {
  border: 1px solid rgb(230, 230, 230);
  color: black;
  padding: 5px 10px;
  display: flex;
}
.setting-header h1 {
  color: black;
  font-family: 'Univers';
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: calc(13px + 0.2vw);
}


.task-options, .model-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0;
}

.task-options h1, .model-options h1 {
  font-family: 'Abrade';
  font-size: calc(13px + 0.2vw);
  padding: 10px 20px;
  border: 1px solid rgb(186, 186, 186);
  cursor: pointer;
  box-shadow: 5px 5px 15px 2px rgb(202, 202, 202);
}

.task-options h1:hover, .model-options h1:hover {
  background-color: whitesmoke;
}

.slider-options {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height: 10px; /* Specified height */
  background: rgb(255, 255, 255); /* Grey background */
  border: 1px solid black;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 10px;
  margin: 20px auto; 
  overflow: hidden;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  border: 2px solid black; /* Green background */
  cursor: pointer;
  border-radius: 50%; /* Cursor on hover */
  box-shadow: -407px 0 0 400px black;
  z-index: 5;
}

.slider::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: black; /* Green background */
  cursor: pointer; /* Cursor on hover */
  box-shadow: -407px 0 0 400px black;
}


.main-options {
  width: 200px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.submit-btn {
  border: black;
  padding: 15px;
  cursor: pointer;
  font-size: calc(12px + 0.2vw);
}
.submit-btn:hover {
  background-color: black;
  color: white;
}


@media screen and (max-width: 1000px) {
  .main-pg {flex-direction: column; margin-bottom: 70px;}
  .image-input-container {width: 50%; margin-bottom: 70px}
  .inpainting-input {flex-direction: row;}
  .image-input-label {width: 50%;}
  .settings-container {width: 80%;}
}